.OptionsPanel {
  background-color: #223041;
  height: 93vh;
  width: 30%;
  color: #ec7676;
}

h1 {
  margin: 0;
  padding: 8vh;
  text-align: center;
  font-size: 2.2vw;
}

h3 {
  font-size: 1.2vw;
  margin-left: 4vw;
  margin-top: 0;
  margin-bottom: 2vh;
  font-weight: bold;
}

input {
  font-size: 0.8vw;
  margin-top: 3vh;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  background-color: #e8e8e8;
  border-radius: 1.2vh;
}

input:focus {
  font-size: 0.8vw;
  margin-top: 3vh;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  background-color: white;
  border-radius: 1.5vh;
  outline: none;
}

.ssInput {
  height: 4vh;
  width: 20vw;
}

.ssInput:focus {
  height: 4vh;
  width: 20vw;
}

select {
  font-size: 0.8vw;
  height: 4.5vh;
  width: 20vw;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  margin-top: 3vh;
  background-color: #e8e8e8;
  border-radius: 1.2vh;
}

select:focus {
  height: 4.5vh;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  width: 20vw;
  background-color: white;
  margin-top: 3vh;
  border-radius: 1.5vh;
  outline: none;
}

button {
  font-size: 1vw;
  justify-content: "center";
  align-self: "center";
  height: 7vh;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  width: 15vw;
  margin-top: 4vh;
  background-color: #ec7676;
  margin-left: 6vw;
  border-radius: 1.2vh;
  color: #0b0c10;
  border-style: hidden;
  font-weight: bold;
  font-size: 2.5vh;
}

button:active {
  justify-content: "center";
  align-self: "center";
  height: 7vh;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  width: 15vw;
  margin-top: 4vh;
  background-color: #ec7676;
  margin-left: 6vw;
  border-radius: 1.2vh;
  color: #0b0c10;
  font-weight: bold;
  font-size: 2.5vh;
  border-style: solid;
}

button:focus {
  justify-content: "center";
  align-self: "center";
  height: 7vh;
  width: 15vw;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  background-color: #ec7676;
  margin-top: 4vh;
  margin-left: 6vw;
  border-radius: 1.2vh;
  outline: none;
  color: #0b0c10;
  font-weight: bold;
  font-size: 2.5vh;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  box-shadow: none;
  height: 5vh;
  background: none;
  width: 20vw;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1.5vh;
  width: 15vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  background: #e8e8e8;
  border-radius: 1.3px;
  border: 0.2px solid #0b0c10;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #ec7676, 0px 0px 1px #ec7676;
  border: 0.5vh solid #ec7676;
  height: 3vh;
  width: 3vh;
  border-radius: 2vh;
  background: #0b0c10;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.9vh;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e8e8e8;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
  background: #e8e8e8;
  border-radius: 1.3px;
  border: 0.2px solid #0b0c10;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #ec7676, 0px 0px 1px #ec7676;
  border: 1px solid #ec7676;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0b0c10;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #e8e8e8;
  border: 0.2px solid #0b0c10;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
}

input[type="range"]::-ms-fill-upper {
  background: #e8e8e8;
  border: 0.2px solid #0b0c10;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #0b0c10, 0px 0px 1px #0b0c10;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #ec7676, 0px 0px 1px #ec7676;
  border: 1px solid #ec7676;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #0b0c10;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #0b0c10;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #0b0c10;
}
