.BarPanel {
    height: 93vh;
    width: 70vw;
    background-color: #1f2833;
    display: flex;
    flex-direction: row;
}

.Bar {
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    bottom: 0;
    display: flex;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    flex-direction: row;
}